.panel {
  float: right;
  position: absolute;
  height: 80%;
  width: 67%;
  bottom: 0;
  right: 30px;
  border-radius: 20px;
  flex-direction: column;
}

.panel-child {
  margin-top: 80px;
  background-color: white;
  width: 70%;
  height: 25%;
  border-radius: 20px;
}
.-child2 {
  margin-top: -100px;
}
.panel-buttons {
  width: 100%;
}
.admin-panel-btn {
  font-size: 26px;
  width: 130px;
}

.panel img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.admin-panel-img {
  border: var(--purple) solid 20px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -130px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.user-panel-img {
  border: var(--accent) solid 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -130px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.user-info-content{
width: 50%;
display: flex;
justify-content: center;

}
