:root {
  --main: #88bbaf;
  --main-light: #b8f5e7;
  --accent: #cd6346;
  -accent-light: #f9e4dd;
  --dark-gray: #7e8594;
  --gray: #c8c8c8;
  --light-gray: #d9d9d9;
  --purple: #8a58ca;
  --dark-blue: #6773b2;
  --light-blue: #b8bef5;
  --teal: #a1cdd0;
  --teal-light: #ddf7f9;
  --off-white: #f8f5ed;
}
* {
  color: #474747;
  font-family: "Sansita One";
  margin: 0px;
}
body {
  background-color: var(--off-white);
}
a{
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    
}

ul {
  list-style-type: none;
}
ul li{
    padding: 20px;
}
input[type="text"]{
    border-radius: 50px;
    border-color: transparent;
}
button {
  border-radius: 50px;
  border-color: transparent;
  font-size: 20px;
  width: 130px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*navbar*/
.transparent:hover{
    background-color: transparent;
}
.logo{
    font-size: 35px;
    padding:15px;
    border-radius: 100%;
}
.head {
  padding: 20px;
}
.nav-bar {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 30%;
  position: fixed;
}
.nav-items {
  font-size: 26px;
}
.socail{
    border-radius: 20px;
}
.socail:hover{
    background-color: var(--main);
}

/* body*/
.search-bar{
    border-radius:20px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content{
    padding: 10px;
    margin-left: 30%;
}
.display-container{
    flex: 1;
    display: flex;
    overflow-y:auto;
    height: 100%;
}

.big-card{
    border-radius: 20px;
    width: 95%;
    height:100%;
    max-height: 100%;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
}
.card{
    background-color: white;
    border-radius: 20px;
    align-content: center;
    padding: 20px;
    width:fit-content;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.card-img{
    border-radius: 20px;
    height:200px;
    width: 170px;
}
.card-body{
    text-align: center;
    padding: 10px;
}
.res-logo{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.favorite{
    background-color: pink;
    color: hotpink;
    border-radius: 100%;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.menu{
    text-align: left;
    font-size: 20px;
}
/*footer*/
.foot {
  background-color: black;
  margin-top: 70%;
  width: 100%;
  height: 30%;
  border-radius: 0px 20px 20px 0px;
}
.foot-items {
  font-size: 40px;
  padding-top: 5%;
  text-align: center;
}

/* Shapes */
.circle{
    margin-left: 18%;  
    margin-top: -9%;
    border-radius: 100%;
    height: 400px;
    width: 400px;
    text-align: center;
    padding-top: 40px;
    position: absolute;
    z-index: -2;
}
.hr-lines {
  position: relative;
  max-width: 50px;
  margin-right: 150px;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 5px;
  width: 130px;
  border-radius: 5px;
  background: #474747;
  position: absolute;
  top: 50%;
  left: 0;
}
/*flex box*/
.container {
  display: flex;
}
.child {
  display: flex;
  align-items: center;
  align-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}
.center{
    text-align: center;
    align-content: center;
    font-size: 36px;
    padding-top: 10%;
    width: 100%;
    margin-top: 5%;
}

.left{
    text-align: right;
}
.column{
  flex-direction: column;
}
/*hide */
.hidden{
    display: none;
}

/*backgorund colors*/
.main-bg {
  background-color: var(--main);
}
.main-light-bg {
  background-color: var(--main-light);
}
.accent-bg {
  background-color: var(--accent);
}
.accent-light-bg {
  background-color: var(--accent-light);
}
.dark-gray-bg {
  background-color: var(--dark-gray);
  color: white;
}
.gray-bg {
  background-color: var(--gray);
}
.light-gray-bg {
  background-color: var(--light-gray);
}
.dark-blue-bg {
  background-color: var(--dark-blue);
  color: white;
}
.blue-bg {
  background-color: var(--blue);
}
.light-blue-bg {
  background-color: var(--light-blue);
}
.purple-bg {
  background-color: var(--purple);
}

.white-text {
  color: white;
  padding: 20px;
}

.admin-panel {
  float: right;
  position: absolute;
  height: 80%;
  width: 67%;
  bottom: 0;
  right: 30px;
  border-radius: 20px;
  flex-direction: column;
}

.admin-panel-child{ 
  margin-top:80px ;
  background-color: white;
  width: 70%;
  height: 25%;
  border-radius:20px ;
}
.-child2{ 
  margin-top:-100px;
}
.admin-panel-buttons{
 
  width: 100%;
}
.admin-panel-btn{
  font-size: 26px;
  width: 130px;
}

/* For login and signup */
.primary-input{
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
  max-width: fit-content;
  border: 0px;
  background-color: var(--light-gray);
  padding: 20px ;
  font-size: 26px;
  outline: none;
}

.primary-input::placeholder {
  color: var(--gray);
  font-size: 18px;
  color: #5E5E5E;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in-form{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 24px;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.primary-login-btn {
  height: 60px;
  width: 276px;
  background-color: var(--dark-gray);
  color: white;
  font-size: 26px;
}
.user-pass-icons{
  padding-left: 20px;
  font-size: 26px;
  border-radius: 50px;
  background-color: var(--light-gray);
}
.login-section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-section-footer{
  background-color: black;
  width: 100%;
  margin-top: auto;
  /* height: 30%; */
  /* border-radius: 0px 20px 20px 0px; */
}

.login-section-body{
  display: flex;
  background-color: var(--off-white);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  /* justify-content: center; */
}

.login-foot-items {
  font-size: 40px;
  text-align: center;
}

.login-logo{
  margin: 15px;
  font-size: 35px;
  padding:15px;
  border-radius: 100%;
  text-decoration:none;
}

.invisible-logo{
  padding-right: 15px;
  margin-right: 15px;
}

.pass-input{
  max-width: 236.5px;
}

.pre-signup{
  font-size: 14px;
}

.anchor-signup{
  text-decoration: none;
  color: blue;
}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
/* for login and signup */


