:root {
  --main: #88bbaf;
  --main-light: #b8f5e7;
  --accent: #cd6346;
  --accent-light: #f9e4dd;
  --dark-gray: #7e8594;
  --gray: #c8c8c8;
  --light-gray: #d9d9d9;
  --purple: #8a58ca;
  --dark-blue: #6773b2;
  --light-blue: #b8bef5;
  --teal: #a1cdd0;
  --teal-light: #ddf7f9;
  --off-white: #f8f5ed;
}
* {
  color: #474747;
  font-family: "Sansita One";
  margin: 0px;
}
body {
  background-color: var(--off-white);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

}
a {
  text-decoration: none;
  border-radius: 20px;
  padding: 5px;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 20px;
}
input[type="text"] {
  border-radius: 50px;
  border-color: transparent;
}
button {
  border-radius: 50px;
  border-color: transparent;
  font-size: 20px;
  width: 130px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  filter: brightness(80%);
}
/*navbar*/
.transparent:hover {
  background-color: transparent;
}
.logo {
  font-size: 35px;
  padding: 15px;
  border-radius: 100%;
}
.head {
  padding: 20px;
}
.nav-bar {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  width: 30%;
  position: fixed;
}
.nav-items {
  font-size: 26px;
}
.socail {
  border-radius: 20px;
}
.socail:hover {
  background-color: var(--main);
}

/* body*/
.search-bar {
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content {
  padding: 10px;
  margin-left: 30%;
}
.display-container {
  flex: 1;
  display: flex;
  overflow-y: auto;
  height: 100%;
  flex-direction: column;
}
.display-section {
  padding-top:10px;
  padding-left:10%;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}
.big-card {
  border-radius: 20px;
  width: 95%;
  height: 100%;
  max-height: 100%;
  margin-top: 10px;
  align-items: center;
  padding: 10px;
}
.big-card2 {
  border-radius: 20px;
  width: 80%;
  height: 100%;
  max-height: 100%;
  margin-top: 10%;
  align-items: center;
  padding: 10px;
  padding-left: 20%;
  align-items:center;
  text-align:center
}
.card {
  background-color: white;
  border-radius: 20px;
  align-content: center;
  padding: 20px;
  width: fit-content;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img {
  border-radius: 20px;
  height: 200px;
  width: 170px;
}
.card-body {
  text-align: center;
  padding: 10px;
}
.res-logo {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.favorite {
  background-color: pink;
  color: hotpink;
  border-radius: 100%;
  font-size: 30px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu {
  text-align: left;
  font-size: 20px;
}
/*footer*/
.foot {
  background-color: black;
  margin-top: 70%;
  width: 100%;
  height: 16%;
  border-radius: 0px 20px 20px 0px;
  bottom: 0;
  position: absolute;
}
.foot-items {
  font-size: 40px;
  padding-top: 5%;
  text-align: center;
}

/* Shapes */
.circle {
  margin-left: 18%;
  margin-top: -9%;
  border-radius: 100%;
  height: 400px;
  width: 400px;
  text-align: center;
  padding-top: 40px;
  position: absolute;
  z-index: -2;
}
.hr-lines {
  position: relative;
  max-width: 50px;
  margin-right: 150px;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 5px;
  width: 130px;
  border-radius: 5px;
  background: #474747;
  position: absolute;
  top: 50%;
  left: 0;
}
/*flex box*/
.container {
  display: flex;
}
.child {
  display: flex;
  align-items: center;
  align-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}
.center {
  text-align: center;
  align-content: center;
  font-size: 36px;
  padding-top: 10%;
  width: 100%;
  margin-top: 5%;
}

.left {
  text-align: right;
}
.column {
  flex-direction: column;
}
/*hide */
.hidden {
  display: none;
}

/*backgorund colors*/
.main-bg {
  background-color: var(--main);
}
.main-light-bg {
  background-color: var(--main-light);
}
.accent-bg {
  background-color: var(--accent);
}
.accent-light-bg {
  background-color: var(--accent-light);
}
.dark-gray-bg {
  background-color: var(--dark-gray);
  color: white;
}
.gray-bg {
  background-color: var(--gray);
}
.light-gray-bg {
  background-color: var(--light-gray);
}
.dark-blue-bg {
  background-color: var(--dark-blue);
  color: white;
}
.blue-bg {
  background-color: var(--blue);
}
.light-blue-bg {
  background-color: var(--light-blue);
}
.purple-bg {
  background-color: var(--purple);
}

.white-text {
  color: white;
  padding: 20px;
}

.admin-panel {
  float: right;
  position: absolute;
  height: 80%;
  width: 67%;
  bottom: 0;
  right: 30px;
  border-radius: 20px;
  flex-direction: column;
}

.admin-panel-child {
  margin-top: 80px;
  background-color: white;
  width: 70%;
  height: 25%;
  border-radius: 20px;
}
.-child2 {
  margin-top: -100px;
}
.admin-panel-buttons {
  width: 100%;
}
.admin-panel-btn {
  font-size: 26px;
  width: 130px;
}

/* For login and signup */
.primary-input {
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
  max-width: fit-content;
  border: 0px;
  background-color: var(--light-gray);
  padding: 20px;
  padding: 20px;
  font-size: 26px;
  outline: none;
}

.primary-input::placeholder {
  color: var(--gray);
  font-size: 18px;
  color: #5e5e5e;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in-form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 24px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.primary-login-btn {
  height: 60px;
  width: 276px;
  background-color: var(--dark-gray);
  color: white;
  font-size: 26px;
}

.user-pass-icons  {
  padding-left: 20px;
  font-size: 26px;
  border-radius: 50px;
  background-color: var(--light-gray);
}

.login-section-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-section-footer {
  background-color: black;
  width: 100%;
  margin-top: auto;
}

.login-section-body {
  display: flex;
  background-color: var(--off-white);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.login-foot-items {
  font-size: 40px;
  text-align: center;
}

.login-logo {
  margin: 15px;
  font-size: 35px;
  padding: 15px;
  padding: 15px;
  border-radius: 100%;
  text-decoration: none;
  text-decoration: none;
}

.invisible-logo {
  padding-right: 15px;
  margin-right: 15px;
}

.pass-input {
  max-width: 236.5px;
}

.pre-signup {
  font-size: 14px;
}

.anchor-signup {
  text-decoration: none;
  color: blue;
}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* End of section */


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 10% auto 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
}

.dots-container {
  text-align: center;
  margin-top: 1%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides .text {
  color: #f2f2f2;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 26px;
  padding: 12px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-images {
  width: 940px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

#search-icon-container {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 1%;
}

#search-icon-container:hover {
  transform: scale(1.1);
}

.view-more-btn-container {
  width: 100%;
  margin-top: 1%;
  text-align: center;
}

.view-more-btn {
  cursor: pointer;
  height: 60px;
  width: 276px;
  background-color: #88BBAF;
  color: white;
  font-size: 26px;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* End of section */
@media screen and (min-width: 280px) and (max-width:900px) {
.nav-bar{
  width:100%;
  height:10%;
  margin-top:0%;
}
.nav-items{
  display:none
}
.foot{
  border-radius:20px 20px 0px 0px;
  position:fixed;
 bottom:0;
  width:100%;
  height:fit-content;
}
.main-content{
  margin-left: 5%;
  margin-top: 15%;
  align-items: center;
  text-align: center;
}
.big-card{
  margin-bottom: 20%;
}
.admin-panel{
  position: static;
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
}
.panel{
  position: static;
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
}
.card-img{
  width: 150px;
}
.display-section{
  gap: 100px;
}
.circle{
  margin-top:-20%;
}
.slideshow-container{
  margin-right:60%;
  margin-bottom:0%;
  width:80%;
  height:50%;
}
  .user-panel-img{
    display:none;
  }
  .user-info-content{
    margin-top:15px;
  }

}